*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Pregular;
}

html, body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Plight';
    src: url(./plain-light-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'Pregular';
    src: url(./plain-regular-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'PlightI';
    src: url(./silkserif-lightitalic-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'PregularI';
    src: url(./silkserif-regularitalic-webfont.woff) format('truetype');
}

#curs{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    /* background-color: white; */
    border: 1px solid white;
    position: fixed;
    z-index: 800;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

/* #loader-wrap{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
} */

#loader{
    height: 100%;
    width: 100%;
    z-index: 998;
    position: fixed;
    background-color: #0b0b0b;
    padding: 21vh 6.2vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3vw;
}

.line #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 4vw;
    font-family: PlightI;
    font-weight: 200;
}

#line1-part1 h5{
    /* background-color: red; */
    width: 6vw;
    text-align: right;
}

#loader #now{
    font-size: 6.3vw;
    animation-name: now;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    margin-bottom: 0.2vw;
}

@keyframes now {
    0%{
        font-family: PlightI;
        color: transparent;
        opacity: 1;
        -webkit-text-stroke: 1px white;
    }
    25%{
        opacity: 0;
    }
    50%{
        font-family: Pregular;
        opacity: 1;
        color: white;
        -webkit-text-stroke:0px white;
    }
    75%{
        opacity: 0;
    }
    100%{
        font-family: PlightI;
        color: transparent;
        opacity: 1;
        -webkit-text-stroke: 1px white;
    }
}

#loader .line h1{
    font-size: 7.1vw;
    font-weight: 500;
}

#main{
    position: relative;
    background-color: #111;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav{
    padding: 0 5vw;
    /* background-color: red; */
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
}

#nav h4{
    font-weight: 100;
    font-size: 1vw;
}

#nav-left{
    /* background-color: black; */
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left-1{
    display: flex;
    gap: 2.2vw;
    align-items: center;
}

#nav-left-2{
    margin-top: 3vw;
}

#nav-left-2 h4{
    line-height: 1.1vw;
}

#nav-right{
    display: flex;
    gap: 2.5vw;
}

#head{
    z-index: 900;
    gap: 5.3vw;
    margin-top: 9.5vw;
    margin-left: 19vw;
    width: 70vw;
    /* background-color: red; */
    display: flex;
}

#head h2{
    margin-top: 0.1vw;
    font-weight: 100;
    font-family: PregularI;
    font-size: 3.2vw;
}

#head h1{
    z-index: 900;
    font-size: 7.8vw;
    font-weight: 500;
    line-height: 7.8vw;
}

#head3{
    display: flex;
}

#head3-left, #head3-right{
    position: relative;
}

#head3-left h1, #head3-right h1{
    transition: all ease 200ms;
}

#head3-left h1:after {
    transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: .075em;
    background-color: currentColor;
}

#head3-right h1:after {
    transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: .075em;
    background-color: currentColor;
}

#head3-left:hover h1{
    color: transparent;
    -webkit-text-stroke: 0.7px #fff;
}

#head3-right:hover h1{
    color: transparent;
    -webkit-text-stroke: 0.7px #fff;
}

#head1, #head2, #head3, #head4{
    overflow: hidden;
}