*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Pregular;
}

html, body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Plight';
    src: url(./plain-light-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'Pregular';
    src: url(./plain-regular-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'PlightI';
    src: url(./silkserif-lightitalic-webfont.woff) format('truetype');
}

@font-face {
    font-family: 'PregularI';
    src: url(./silkserif-regularitalic-webfont.woff) format('truetype');
}

#curs{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    /* background-color: white; */
    border: 1px solid white;
    position: fixed;
    z-index: 800;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

/* #loader-wrap{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
} */

#loader{
    height: 100%;
    width: 100%;
    z-index: 998;
    position: fixed;
    background-color: #0b0b0b;
    padding: 21vh 6.2vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3vw;
}

.line #line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 4vw;
    font-family: PlightI;
    font-weight: 200;
}

#line1-part1 h5{
    /* background-color: red; */
    width: 6vw;
    text-align: right;
}

#loader #now{
    font-size: 6.3vw;
    animation-name: now;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    margin-bottom: 0.2vw;
}

@keyframes now {
    0%{
        font-family: PlightI;
        color: transparent;
        opacity: 1;
        -webkit-text-stroke: 1px white;
    }
    25%{
        opacity: 0;
    }
    50%{
        font-family: Pregular;
        opacity: 1;
        color: white;
        -webkit-text-stroke:0px white;
    }
    75%{
        opacity: 0;
    }
    100%{
        font-family: PlightI;
        color: transparent;
        opacity: 1;
        -webkit-text-stroke: 1px white;
    }
}

#loader .line h1{
    font-size: 7.1vw;
    font-weight: 500;
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav{
    padding: 0 5vw;
    /* background-color: red; */
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
}

#nav h4{
    font-weight: 100;
    font-size: 1vw;
}

#nav-left{
    /* background-color: black; */
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left-1{
    display: flex;
    gap: 2.2vw;
    align-items: center;
}

#nav-left-2{
    margin-top: 3vw;
}

#nav-left-2 h4{
    line-height: 1.1vw;
}

#nav-right{
    display: flex;
    gap: 2.5vw;
}

#head{
    z-index: 900;
    gap: 5.3vw;
    margin-top: 9.5vw;
    margin-left: 19vw;
    width: 70vw;
    /* background-color: red; */
    display: flex;
}

#head h2{
    margin-top: 0.1vw;
    font-weight: 100;
    font-family: PregularI;
    font-size: 3.2vw;
}

#head h1{
    z-index: 900;
    font-size: 7.8vw;
    font-weight: 500;
    line-height: 7.8vw;
}

#head3{
    display: flex;
}

#head3-left, #head3-right{
    position: relative;
}

#head3 h1{
    /* tr   ansition: all ease 0.3s; */
}

#head3-left h1:after {
    transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: .075em;
    background-color: currentColor;
}

#head3-right h1:after {
    transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: .075em;
    background-color: currentColor;
}

#head3-left:hover{
    color: transparent;
    -webkit-text-stroke: 0.7px #fff;
}

#head3-right:hover{
    color: transparent;
    -webkit-text-stroke: 0.7px #fff;
}

#head1, #head2, #head3, #head4{
    overflow: hidden;
}

/********************************* PAGE - 2 ***********************************/

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 1px;
}

#video-contain{
    width: 72vw;
    /* overflow: hidden; */
    height: 61vh;
    margin-left: 28vw;
    margin-top: 19.5vh;
    position: relative;
}

#video-contain #image1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#video-contain #play-button{
    position: absolute;
    top: -8%;
    left: 69%;
    width: 10vw;
    height: 10vw;
    background-color: #FFA63D;
    border-radius: 10vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.4vw;
}

#play-button i{
    font-size: 2.6vw;
}

#video1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/********************************* PAGE - 3 ***********************************/

#page3{
    background-color: #4d4d4d;
    height: 100vh;
    width: 100%;
}

/********************************* PAGE - 4 ***********************************/

#page4{
    background-color: #151515;
    height: fit-content;
    width: 100%;
}

#zeroThree{
    display: flex;
    justify-content: flex-end;
    padding: 0 5vw;
    height: 18.7vw;
}

#zeroThree-left{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#zeroThree-left h2{
    font-size: 3.2vw;
    font-family: PregularI;
    font-weight: 500;
    padding-bottom: 8.3vw;
}

#zeroThree-right{
    height: 100%;
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#zeroThree-right h1{
    font-size: 7.21vw;
    padding-bottom: 5.3vw;
    font-weight: 500;
}

.head-line{
    height: 0.077vw;
    width: 100%;
    background-color: #fff;
}

#zero3-container1{
    padding-top: 3.2vw;
    /* background-color: red; */
    width: 72vw;
    margin-left: 28vw;
    height: 67vw;
    /* padding-right: 34vw; */
}

#zero3-container1 img{
    width: 32.3vw;
    height: 41vw;
    object-fit: cover;
    margin-right: 2.4vw;
}

#zero3-container1 h4{
    font-weight: 500;
    font-size: 2.3vw;
    margin-bottom: 3.46vw;
    margin-right: 34vw;
}

#zero3-container1-down{
    display: flex;
}

#zero3-container1 h6{
    font-weight: 500;
    font-size: 1vw;
    margin-right: 19vw;
    line-height: 1.5vw;
}

#zero3-container2{
    position: relative;
    top: -14vw;
    right: -50.5vw;
    width: 33vw;
    height: 43vw;
    background-color: #3F7DF4;
    padding: 2vw 3.7vw;
}

.contain2-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 29.3;
    height: 7.1vw;
    border-bottom: 0.077vw solid #fff;
}

.contain2-elem h5{
    font-weight: 500;
    font-size: 0.99vw;
    /* background-color: red; */
    width: 10.5vw;
}

.contain2-elem h3{
    font-weight: 100;
    font-size: 1.6vw;
}

.zero3-last-line{
    height: 0.077vw;
    width: 67vw;
    margin-left: 28vw;
    background-color: #fff;
}

#page4 p{
    margin-top: 1.5vw;
    margin-left: 28vw;
    font-weight: 100;
}

#marque{
    margin-top: 6vw;
    height: 50vw;
}

#marque .marque-elem{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 16px;
}

#marque .marque-elem h1{
    font-size: 7.5vw;
    font-weight: 100;
    color: transparent;
    -webkit-text-stroke: 0.077vw #fff;
    display: inline-block;
    line-height: 8.2vw;
}

.left-move{
    animation-name: marque;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.right-move{
    animation-name: marque2;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#marque .marque-elem span{
    font-family: PlightI;
    color: transparent;
}

@keyframes marque {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes marque2 {
    from{
        transform: translateX(calc(-100% - 20px));
    }
    to{
        transform: translateX(0);
    }
}